* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/battleship_background.jpg");
  background-size: cover;
}
/* .container.hide{
  display: none;
} */
.container {
  height: 800px;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;

  padding: 2em;
  border-radius: 1em;
  border: 1px solid rgba(245, 245, 245, 0.418) outset;
  box-shadow: 0 0 15px -2px grey;
  background-color: rgba(128, 128, 128, 0.562);
  -webkit-backdrop-filter: radial-blur(15px);
  backdrop-filter: blur(15px);

  color: white;
  font-family: system-ui;
}

.container .players,
.gameboard {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 1em;
}
.container .players {
  > * {
    flex: 1;
    text-align: center;
    font-weight: normal;

    border: 1px solid rgba(211, 211, 211, 0.342) outset;
    border-radius: 0.5em;
    background-color: transparent;
    box-shadow: 12px 12px 15px -12px rgba(0, 0, 0, 0.568);
    padding: 1em;

    -webkit-backdrop-filter: radial-blur(20px);
    backdrop-filter: blur(20px);
  }
}

.gameboard .player,
.computer {
  opacity: 0.5;
  border: inherit;
  height: 500px;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.534);
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  box-shadow: 0 0 2px 1px grey;
  .row,
  .row > div {
    display: flex;
  }
  .row > div {
    justify-content: center;
    align-items: center;
  }
  .row,
  .row > div {
    flex: 1;
    box-shadow: 0 0 5px -1px white inset;
    transition: 0.1s background-color ease-in-out;
    span.marker {
      height: 50%;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .row:not(:last-of-type) {
    border-bottom: 1px solid white;
  }
  .row > div:not(:last-of-type) {
    border-right: 1px solid white;
  }
  .row > div.hit {
    background-color: rgba(255, 0, 0, 0.295);
  }
  .row > div.miss {
    background-color: rgba(135, 207, 235, 0.37);
  }
  .row > div:hover {
    cursor: not-allowed;
    caret-color: red;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.gameboard .player {
  .row > div[class*="col-"].deploy {
    background-color: lightgreen;
    border-color: lightgreen;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.gameboard .attack {
  opacity: 1;
  box-shadow: inherit;
  animation: 1s flashOut linear alternate infinite;
  .row > div:hover {
    cursor: crosshair !important;
  }
}
.turn {
  animation: 1s flashIn linear alternate infinite;
}

@keyframes flashOut {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 15px 12px lightcoral;
  }
}

@keyframes flashIn {
  from {
    box-shadow: 12px 12px 15px -12px rgba(0, 0, 0, 0.568);
  }
  to {
    background-color: lightcoral;
    box-shadow: 12px 12px 15px -12px lightcoral;
  }
}
